<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title>Let's do some Quiz</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'radiobuttons.css' %}">

</head>

<body>
<!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <p id="quiz_name">{{ quiz.name }}</p><br>
            <form action="{% url 'polls:results' quiz.id %}" method="post">
            {% csrf_token %}
            {% for question in questions %}
                <label class="question" for="question{{ forloop.counter }}">{{ question.question_text}}</label><br />
                <fieldset id="{{ question.id }}">
                {% for choice in question.choice_set.all %}
                    <input type="radio" id="question{{ forloop.counter }}" value="{{ choice.id }}" name="{{ question.id }}" checked="checked"/>
                    <label class="choice_label" for="choice{{ forloop.counter }}">{{ choice.choice_text}}</label><br />
                {% endfor %}
                </fieldset>
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-success" value="Check your points" />
            </form>
        </header>
    </div>
</body>

</html>