<div ng-hide="isMakingQuery" class="searchForm">
    <form ng-submit="searchBySpecies($event)" method="POST" id="FormSearchBySpecies">
        <label for="animalSpecies">Sisesta otsinguks looma liik</label>
        <div class="input-group">
            <span class="input-group-addon" id="animalIcon"><i class="fa fa-paw"></i></span>
            <input autocomplete="off" type="text" class="form-control" id="animalSpecies" name="animalSpecies" aria-describedby="animalIcon">
            <button ng-click="isMakingQuery=true" class="button search" type="submit">Tee otsing</button>
        </div>
    </form>
</div>
<div ng-include="'/static/templates/AngularTemplates/searchResultBySpecies.html'"></div>