<div class="animalData" ng-show="isMakingQuery && searchResult.length == 0">
    {{ isSearching }}
    Sellise nimelist looma ei leitud!
</div>
<div ng-show="searchResult.length != 0" ng-repeat="a in searchResult">
    <div class="animalData">
        <div class="dataHeader">Looma info</div>
        <div class="dataContent">
            <div class="dataRow">
                <label class="dataLabel"> Looma nimi: </label>
                <div class="dataLabel">{{ a.name }}</div>
            </div>
            <div class="dataRow">
                <label class="dataLabel"> Looma liik: </label>
                <div class="dataLabel">{{ a.species }}</div>
            </div>
        </div>
    </div>
    <div class="animalData">
        <div class="dataHeader">Looma nägemise info</div>
        <div class="dataContent">
            <div class="dataSection" ng-repeat="info in a.observationInfo">
                <div class="sectionHeader">Vaste nr. {{ $index+1 }}</div>
                <div class="dataRow">
                    <label class="dataLabel"> Kuupäev: </label>
                    <div class="dataLabel">{{ info.datetime }}</div>
                </div>
                <div class="dataRow">
                    <label class="dataLabel"> Asukoht: </label>
                    <div class="dataLabel">{{ info.location }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttonBar">
        <button class="btn btn-default removeAnimalBtn">Kustuta loom registrist</button>
        <button ng-clicked="" class="btn btn-default changeAnimalDataBtn">Muuda looma andmeid</button>
    </div>
</div>
