<div ng-hide="isMakingQuery" class="searchForm">
    <form ng-submit="searchByName($event)" method="POST" id="FormSearchByName">
        <label for="animalName">Sisesta otsinguks looma nimi</label>
        <div class="input-group">
            <span class="input-group-addon" id="animalIcon"><i class="fa fa-paw"></i></span>
            <input autocomplete="off" type="text" class="form-control" id="animalName" name="animalName" aria-describedby="animalIcon">
            <button ng-click="isMakingQuery=true" class="button search" type="submit">Tee otsing</button>
        </div>
    </form>
</div>
<div ng-include="'/static/templates/AngularTemplates/searchResultByName.html'"></div>