<div class="noResult" ng-show="searchForm.$submitted && searchResult.length == 0">
    Sellel asukohal loomi ei ole olnud!
</div>
<div ng-show="searchResult.length != 0" ng-repeat="a in searchResult">
    <div class="dataSeparator">
        <div class="animalHeader">{{ a.name }}</div>
        <div class="animalData">
        <div class="dataHeader">Looma info</div>
        <div class="dataContent">
            <div class="dataRow">
                <label class="dataLabel"> Looma nimi: </label>
                <div class="data">{{ a.name }}</div>
            </div>
            <div class="dataRow">
                <label class="dataLabel"> Looma liik: </label>
                <div class="data">{{ a.species }}</div>
            </div>
        </div>
        </div>
        <div class="animalData">
        <div class="dataHeader">Looma nägemise info</div>
        <div class="dataContent">
            <div class="dataSection" ng-repeat="info in a.observationInfo">
                <div class="sectionHeader">Vaste nr.{{ $index+1 }}</div>
                <div class="dataRow">
                    <label class="dataLabel"> Kuupäev: </label>
                    <div class="data">{{ info.datetime | amDateFormat:'Do MMMM YYYY, h:mm' }}</div>
                </div>
                <div class="dataRow">
                    <label class="dataLabel"> Asukoht: </label>
                    <div class="data">{{ info.location }}</div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

