#effects {
    background: #000;
    display: block;
    height: 700px;
    margin: auto 300px;
}
#selectKeywordBox {
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

/*With changing box*/
#animationButton {
    width: 130px;
    height: 100px;
    background-color: #dd4f49;
    border: 2px solid;
    border-radius: 10px;
    border-color: #4da6b8;
    display: block;
    margin: auto;
}

/*FadeIn animation */
#fadeInText {
    display: none;
    color: white;
    width: 50%;
    font-size: 25px;
    color: #999;
    margin: auto;
}
#fadeInTextBox {
    width: 400px;
    height: 50px;
    margin: auto;
    text-align: center;
}

/* Form CSS */
#filterForm {
    height: 150px;
    text-align: center;
    margin: 80px auto;
}
.filter {
    color: #fff;
    background-color: #000;
    height: 30px;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: auto auto 20px auto;
}
#submitBtn {
    width: 100px;
    height: 50px;
    background: #32CD32;
}